In [5]:
# Import pandas library
import pandas as pd
   
# Dictionary
df1 = {
     'Name': ['abc', 'bcd', 'cde',
             'def', 'efg', 'fgh',
             'ghi'],
      'Math_score': [52, 87, 49,
                    74, 28, 59,
                    48],
       'Eng_score': [34, 67, 25, 
                    89, 92, 45,
                    86]
}
   
# Create a DataFrame
df1 = pd.DataFrame(df1, 
                   columns = ['Name',
                   'Math_score','Eng_score'])
  
# Calculate Percentage
# df1['Eng_percent'] = (df1['Eng_score'] / 
                #       df1['Eng_score'] * 100)
# Show the dataframe
df1

  Name  Math_score  Eng_score
0  abc          52         34
1  bcd          87         67
2  cde          49         25
3  def          74         89
4  efg          28         92
5  fgh          59         45
6  ghi          48         86